@model IEnumerable<WebApps.Models.doctors>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.nameDoctors)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.emailDoctors)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.phoneDoctors)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.specialist)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Created)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nameDoctors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emailDoctors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phoneDoctors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.specialist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idDoctors">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idDoctors">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idDoctors">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
