@model WebApps.Models.Admins

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Admins</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nameAdmin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nameAdmin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.emailAdmin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.emailAdmin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.passwordAdmin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.passwordAdmin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.phoneAdmin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.phoneAdmin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="idAdmin" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
