@model WebApps.Models.Admins

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Admins</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nameAdmin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nameAdmin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.emailAdmin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.emailAdmin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.passwordAdmin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.passwordAdmin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.phoneAdmin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.phoneAdmin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.idAdmin">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
