@model WebApps.Models.nurses

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>nurses</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nameNurse)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nameNurse)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.emailNurse)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.emailNurse)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.passwordNurse)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.passwordNurse)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.phoneNurse)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.phoneNurse)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.idNurse">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
