@model IEnumerable<WebApps.Models.nurses>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.nameNurse)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.emailNurse)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.passwordNurse)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.phoneNurse)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Created)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nameNurse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emailNurse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.passwordNurse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phoneNurse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idNurse">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idNurse">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idNurse">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
